@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');



.contenido-info { 
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;

    align-items: center; /* Centra horizontalmente */
    margin-top: 40px; /* Aumenta el margen superior para mayor separación */
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-bottom: 5%;
    background-color: rgb(236, 82, 82);

}
.contenido-info h1{
    font-family: 'Fascinate', cursive;
    font-size:36px;
    text-align: center;
    padding: 5px;
    color: rgb(255, 255, 255); /* Cambia el color del texto a naranja */
    border-radius: 15px;
    margin: 1%;
    

}
.contenido-info h3{
    font-family: 'Fascinate', cursive;
    font-size:30px;
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255); /* Cambia el color del texto a naranja */
    border-radius: 25px;
    margin: 1%;
    

}
.contenido-info img{
    width: 100%;
    background-color: azure;
    gap: 2px;
}
.contenido-info article section h2{
    font-size: 35px;
    text-align: center;
    font-family: 'Fascinate', cursive;
    color: rgb(207, 163, 81);
    -webkit-text-stroke: 1px rgb(163, 102, 28);
}

p {
    font-size: 25px; /* Cambia el tamaño de la fuente de todos los párrafos a 16 píxeles */
}


.contenido-info article {
    width: 100%;
    background-color: azure;
    padding: 15px 20px;
   
    
}
.contenedorImagen  img{
    width: 60%;
    height: auto;
    filter: drop-shadow(5px 5px 10px #555);
    border: 2px solid rgb(206, 133, 45);
    border-radius: 5%;

    
}

.contenedorImagen {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
}


/*
.contenido-info article aside {
    display: flex;
    justify-content: center;
}
*/

#nav-inicio .icon,
#nav-inicio .text {
    color: rgb(223, 79, 12);
}

@media screen and (max-width:370px) {
}
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px)  {
}
@media screen and (min-width: 992px)  {
}

@media (min-width: 1400px) {
}