
.seccion-pokedex {
    width: 90%;
    background-color: white;
    margin-top: 40px;
    /* Aumenta el margen superior para mayor separación */
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-bottom: 5%;
}

#cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;
    padding: 20px 0;
}

.pokemon-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    padding: 5px;
    margin: 15px 0px;
}


.container-img-pk {
    background-color: rgba(241, 241, 241, 0.747);
    background-size: cover;
    border-radius: 8px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.container-img-pk img {
    width: 70px;
}

.card-container-name {
    padding: 0;
    padding-top: 4px;
    padding-right: 4px;
    border-top-right-radius: 5px;
    display: block;
    text-align: center;
    position: relative;
    min-width: 70%;
    max-width: 80%;
    top: -15px;
   
}

.card-container-name h2 {
   
    text-transform: capitalize;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
    /* Evita que el texto rebase el contenedor */
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 7px;
    word-wrap: break-word;
    background-color: rgb(77, 77, 77);
    color: white;
}


.card-tipos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 5px;
}

.card-tipos span {
    text-transform: capitalize;
}

#nav-pokedex  {
    color: rgb(223, 79, 12);
}

@media screen and (max-width:370px) {
    #cards-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 576px) {
    #cards-container {
        grid-template-columns: 1fr 1fr;
    }
    
    .pokemon-card {
        /* Para acomodar al inicio el nombre */
        align-items: flex-start; 
        padding: 15px;
        border-radius: 16px;
    }

    .card-container-name h2 {
        font-size: medium;
        background-color: rgb(77, 77, 77);
        color: white;
        padding: 8px;
        letter-spacing: 0;
    }
    
    .card-container-name {
        padding-right: 15x;
        padding-top: 10px;
        top: -25px;
        max-width: 75%;
    
    }

    .container-img-pk {
        padding: 0;
        padding-bottom: 10px;
    }
   
    
    .container-img-pk img {
        width: 180px;
    }
    
    .card-tipos {
        font-size: 15px;
    }
   
}

@media screen and (min-width: 768px)  {
}

@media screen and (min-width: 992px)  {
    #cards-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    #cards-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
