@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

:root {
    --color-fire: #ff7402;
    --color-grass: #25753d;
    --color-steel: #9eb7b8;
    --color-water: #4592c4;
    --color-psychic: #f366b9;
    --color-ground: #ab9842;
    --color-ice: #51c4e7;
    --color-flying: #3dc7ef;
    --color-ghost: #4d5b64;
    --color-normal: #a4acaf;
    --color-poison: #7e0058;
    --color-rock: #a38c21;
    --color-fighting: #d56723;
    --color-dark: #707070;
    --color-bug: #729f3f;
    --color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    --color-electric: #bba909;
    --color-fairy: #fdb9e9;
    --color-shadow: #7b62a3;
    --color-unknow: #757575;
    --color-primary: #006d77;
    --color-primary-hover: #83c5be;
}

/* Selector universal que selecciona todos los elementos */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Incluye tanto el contenido como el borde y el relleno dentro de las dimensiones especificadas del elemento */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/mode-1.png);
    background-repeat: repeat;
}

header {
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar {
    gap: 10px
}
/* estilos cuando esta en tamaño sm */
.nav {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-left: auto;
    gap: 20px;
}

.nav a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    color: rgb(58, 55, 55);
}

.logo {
    width: 100px;
    margin-left: 20px;

}

.nav a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    color: rgb(58, 55, 55);
}

.nav a:hover .icon {
    color: rgb(223, 79, 12);
    transform: rotate(360deg);
    transition: transform 0.3s;
}

.nav a:hover .text {
    color: rgb(223, 79, 12);
    transform: translateY(-5px);
    /* Mueve el texto hacia arriba 5 píxeles */
    transition: transform 0.3s;
    /* Agrega una transición suave para que el texto se mueva gradualmente */

}

.nav .icon {
    font-size: 30px;
    opacity: 0.7;
}

.btn-collapse {
    border: 0;
}


@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
    .nav .icon {
        font-size: 25px;
    }

    .nav .text {
        font-size: 12px;
    }

    
    
    .nav a {
        gap: 5px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
    }

    
}

@media screen and (min-width: 992px) {
    .logo {
        width: 150px;
        ;
    }
    .nav .icon {
        font-size: 40px;
    }

    .nav .text {
        font-size: 15px;
    }

}

@media screen and (min-width: 1200px) {
    .logo {
        width: 200px;
    }

    .nav .icon {
        font-size: 50px;
    }
   

}