@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

/* Selector universal que selecciona todos los elementos */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* Incluye tanto el contenido como el borde y el relleno dentro de las dimensiones especificadas del elemento */
}

body {
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column; /* Cambiar la dirección del flujo de columnas para apilar elementos */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Esto asegura que el body ocupe toda la altura de la ventana */
  
}
.container-header {
    width: 90%;
    display: flex; /* Agrega display: flex; para habilitar flexbox */
    justify-content: flex-start; /* Alinea los elementos en el inicio del contenedor */
}
.container-nav {
    width: 90%; /* Ocupa todo el ancho de la ventana */
    display: flex; /* Agrega display: flex; para habilitar flexbox */
    justify-content: space-around; /* Alinea los elementos en el inicio del contenedor */
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px; /* Establece un valor de borde redondeado, ajusta según desees */

}

.logo {
    display: inline;
    justify-content: flex-start;
}

.logo img {
    width: 250px;
    height: 100%;
}

.nav-barra {
    width: 90%;
    margin: 20px 0;
    padding-top: 18px;
    padding-bottom: 12px;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-bottom: 5%;
  
}
.nav-barra ul{
    display: flex;
    justify-content: space-around;
    gap: 200px;
    width: 150px;
    list-style: none;
}

 .nav-barra ul li a{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-decoration: none;
     gap: 5px;
     color: rgb(58, 55, 55);
 }

 .nav-barra ul li a .icon{
     opacity: 0.7;
     font-size: 50px;
     transition: ease 0.25s;
 }

 .nav-barra ul li a .text{
    transition: ease 0.25s;
    font-weight: 500;
}

.nav-barra ul li:hover a .icon, .nav-barra ul li:hover a .text {
    color: rgb(223, 79, 12);
    transform: translateY(-8px);
}





/*
     <div class="container-pokebola">
            <div class="panel" id="panel">
                <img src="../img/pikachu.png" alt>
                <img src="../img/gengar.png" alt>
            </div>

            <img class="pokebola" id="pokebola" src="../img/pokebola.png" alt>

        </div>
*/